# Основные библиотеки
telethon==1.34.0
eel==0.16.0
asyncio==3.4.3
nest_asyncio==1.5.8

# Для обработки текста и анализа
nltk==3.8.1
emoji==2.8.0

# Для работы с графами и визуализации
networkx==3.2.1
matplotlib==3.8.2

# Для обработки изображений
opencv-python==4.8.1.78
Pillow==10.1.0

# Для работы с данными
numpy==1.26.2

# Для асинхронной работы
aiohttp==3.9.1
cryptg==0.4.0  # Для ускорения работы Telethon

# Для хранения данных
python-dotenv==1.0.0  # Для работы с переменными окружения 